<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./tests/bootstrap.php" colors="true" verbose="true" stopOnFailure="false" backupGlobals="false" backupStaticAttributes="false" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
  
    <include>
      <directory suffix=".php">./Model</directory>
      <directory suffix=".php">./Helper</directory>
      <directory suffix=".php">./Controller</directory>
      <directory suffix=".php">./Observer</directory>
      <directory suffix=".php">./Plugin</directory>
    </include>
    <exclude>
      <file>Helper/MiniOrangeUser.php</file>
    </exclude>
  </coverage>

  <testsuites>
    <testsuite name="MiniOrange TwoFA Unit Test Suite">
      <directory suffix="Test.php">./Test/Unit</directory>
    </testsuite>
  </testsuites>
  
  <php>
    <env name="APPLICATION_ENV" value="testing"/>
  </php>
</phpunit>
