<?xml version="1.0"?>

<!-- This file defines our Events -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- This event is invoked before every controller is processed -->
    <event name="controller_action_predispatch_checkout_index_index">
        <observer name="miniorange_twofa_checkout" instance="MiniOrange\TwoFA\Observer\Checkout2FA"/>
    </event>

</config>
