<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Backend\Block\System\Account\Edit\Form">
        <plugin name="mp-twofactorauth-user-edit"
                type="MiniOrange\TwoFA\Plugin\Adminhtml\Block\System\Account\Edit\Form" sortOrder="20"/>
    </type>
    <!-- <preference for="Magento\Backend\Model\Auth" type="MiniOrange\TwoFA\Model\Auth"/> -->
    <preference for="Magento\Backend\App\Action\Plugin\Authentication"
                type="MiniOrange\TwoFA\App\Action\Plugin\Authentication"/>
</config>
